.product-grid-container {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.product-grid-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-content: center;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-bottom: 15px;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.product-title {
  font-size: 1.1rem;
  margin: 10px 0 5px;
  color: #333;
  font-weight: 600;
}

.product-category {
  font-size: 0.9rem;
  color: #777;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #0073aa;
  margin: 10px 0;
}

.product-link {
  display: inline-block;
  background-color: #0073aa;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.product-link:hover {
  background-color: #005f8b;
}

.loading-text {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
  color: #555;
}

.form-button {
  position: fixed;
  top: 20px;
  right: 140px;
  background: #0073aa;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;

}


.back-btn{
  position: fixed;
  top: 20px;
  left: 20px;
  background: #0073aa;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.floating-cart {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #0073aa;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.category-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.category-btn {
  background-color: #7d7d7d;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.category-btn.active,
.category-btn:hover {
  background-color: #007bff;
  color: white;
}

.product-slider {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px;
  scroll-behavior: smooth;
}

.product-card {
  flex: 0 0 250px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: #fff;
  transition: 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

